<h2><%= @item.name %></h2>

<div>
  <div class="col-6">
    <%= image_tag @item, :image, format: 'jpeg', fallback: "ithigo.jpg", style: "max-width: 100%"%>
  </div>
  <div>
    <div class="item-description mb-5">
      <%= @item.introduction %>
    </div>
    <div>
      <%= @item.price %>円
    <>
  </div>
</div>